node_modules
node_modules_container
docs
.git
jdl/**/.jhipster/**
.vscode-test
**/jdl-core.min.js
**/generated-serialized-grammar.js
test/fixtures/**
coverage
BadEntity.json/users/templates/users/register.html
