{% extends 'layout.html' %}

{% block title %} Register {% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<main
    class="container flex min-h-[calc(100vh-4rem)] flex-col items-center justify-center bg-gray-50 py-6"
>
    <section
        class="mx-auto flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0"
    >
        <a
            href="/"
            class="mb-6 flex items-center text-2xl font-semibold text-gray-900 dark:text-white"
        >
            <svg
                fill="#000"
                width="35px"
                height="35px"
                viewBox="0 0 250 250"
                xmlns="http://www.w3.org/2000/svg"
                stroke="#000"
                stroke-width="0.00256"
            >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke="#CCCCCC"
                    stroke-width="3.072"
                ></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M50.455 102.855c0 25.177 39.647 105.629 77.265 105.629h.001c37.619 0 77.397-76.894 77.397-108.531 0-20.003-18.606-52.373-77.62-52.373-59.013 0-77.043 35.758-77.043 55.275zm50.039 5.634C86.402 93.277 77.656 77.857 77.656 77.857s14.41-7.175 23.824-9.091c.802-.163 1.62-.338 2.458-.516 8.997-1.916 20.189-4.298 36.328 1.496 33.579 12.056 47.896 34.606 47.896 34.606s-21.609-17.401-45.404-20.895c-13.707-2.013-39.203 6.152-39.203 6.152s8.862 9.38 16.075 23.114c1.137 2.165 2.245 4.147 3.306 6.045 5.668 10.137 9.974 17.838 9.974 37.93 0 14.659-11.08 36.443-11.08 36.443s6.223-28.383 1.204-50.825c-3.627-16.223-6.425-18.719-13.02-24.603-2.528-2.255-5.615-5.008-9.52-9.224z"
                    ></path>
                </g>
            </svg>
            Flowbite
        </a>
        <div
            class="w-full rounded-lg bg-white shadow sm:max-w-md md:mt-0 xl:p-0 dark:border dark:border-gray-700 dark:bg-gray-800"
        >
            <div class="space-y-4 p-6 sm:p-8 md:space-y-6">
                <hgroup>
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
                    >
                        Create an account
                    </h1>
                    <p class="text-gray-400 text-sm">
                        to continue to <a href="/"><strong class="text-black">Django App</strong></a>
                    </p>
                </hgroup>
                <form
                    class="space-y-4 md:space-y-6"
                    action="/users/register/"
                    method="post"
                >
                    {% csrf_token %}
                    {{ form }}
                    <!--                    <div>-->
                    <!--                        <label-->
                    <!--                            for="email"-->
                    <!--                            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"-->
                    <!--                            >Your email</label-->
                    <!--                        >-->
                    <!--                        <input-->
                    <!--                            type="email"-->
                    <!--                            name="email"-->
                    <!--                            id="email"-->
                    <!--                            class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"-->
                    <!--                            placeholder="name@company.com"-->
                    <!--                            required=""-->
                    <!--                        />-->
                    <!--                    </div>-->
                    <!--                    <div>-->
                    <!--                        <label-->
                    <!--                            for="password"-->
                    <!--                            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"-->
                    <!--                            >Password</label-->
                    <!--                        >-->
                    <!--                        <input-->
                    <!--                            type="password"-->
                    <!--                            name="password"-->
                    <!--                            id="password"-->
                    <!--                            placeholder="••••••••"-->
                    <!--                            class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"-->
                    <!--                            required=""-->
                    <!--                        />-->
                    <!--                    </div>-->
                    <!--                    <div>-->
                    <!--                        <label-->
                    <!--                            for="confirm-password"-->
                    <!--                            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"-->
                    <!--                            >Confirm password</label-->
                    <!--                        >-->
                    <!--                        <input-->
                    <!--                            type="confirm-password"-->
                    <!--                            name="confirm-password"-->
                    <!--                            id="confirm-password"-->
                    <!--                            placeholder="••••••••"-->
                    <!--                            class="focus:ring-primary-600 focus:border-primary-600 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"-->
                    <!--                            required=""-->
                    <!--                        />-->
                    <!--                    </div>-->
                    <!--                    <div class="flex items-start">-->
                    <!--                        <div class="flex h-5 items-center">-->
                    <!--                            <input-->
                    <!--                                id="terms"-->
                    <!--                                aria-describedby="terms"-->
                    <!--                                type="checkbox"-->
                    <!--                                class="focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 h-4 w-4 rounded border border-gray-300 bg-gray-50 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800"-->
                    <!--                                required=""-->
                    <!--                            />-->
                    <!--                        </div>-->
                    <!--                        <div class="ml-3 text-sm">-->
                    <!--                            <label-->
                    <!--                                for="terms"-->
                    <!--                                class="font-light text-gray-500 dark:text-gray-300"-->
                    <!--                                >I accept the-->
                    <!--                                <a-->
                    <!--                                    class="text-primary-600 dark:text-primary-500 font-medium hover:underline"-->
                    <!--                                    href="#"-->
                    <!--                                    >Terms and Conditions</a-->
                    <!--                                ></label-->
                    <!--                            >-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <button
                        type="submit"
                        class="bg-primary-600 hover:bg-primary-700 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 w-full rounded-lg px-5 py-2.5 text-center text-sm font-medium text-white focus:outline-none focus:ring-4"
                    >
                        Create an account
                    </button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account?
                        <a
                            href="#"
                            class="text-primary-600 dark:text-primary-500 font-medium hover:underline"
                            >Login here</a
                        >
                    </p>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}
